[submodule "matrix/repository.matrix.beatmasterRS"]
	path = matrix/repository.matrix.beatmasterRS
	url = https://github.com/beatmasterRS/repository.matrix.beatmasterRS/
[submodule "leia/repository.beatmasterRS"]
	path = leia/repository.beatmasterRS
	url = https://github.com/beatmasterRS/repository.beatmasterRS/
[submodule "matrix/plugin.video.themoviedb.helper"]
	path = matrix/plugin.video.themoviedb.helper
	url = https://github.com/jurialmunkey/plugin.video.themoviedb.helper
[submodule "matrix/plugin.video.seren"]
	path = matrix/plugin.video.seren
	url = https://github.com/nixgates/plugin.video.seren
[submodule "matrix/plugin.program.openwizard"]
	path = matrix/plugin.program.openwizard
	url = https://github.com/a4k-openproject/plugin.program.openwizard
[submodule "matrix/repository.tikipeter"]
	path = matrix/repository.tikipeter
	url = https://github.com/Tikipeter/repository.tikipeter
[submodule "matrix/umbrellaplug.github.io"]
	path = matrix/umbrellaplug.github.io
	url = https://github.com/umbrellaplug/umbrellaplug.github.io
[submodule "matrix/a4k-openproject.github.io"]
	path = matrix/a4k-openproject.github.io
	url = https://github.com/a4k-openproject/a4k-openproject.github.io
[submodule "matrix/repository.Rising.Tides"]
	path = matrix/repository.Rising.Tides
	url = https://mullafabz.xyz/Repository/
[submodule "matrix/repo"]
	path = matrix/repo
	url = https://github.com/jewbmx/repo
